@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #020617;
  color: white;
  font-family: Arial, sans-serif;
}
.prose pre {
  background: #020617 !important;
  border-radius: 12px;
  padding: 16px;
  overflow-x: auto;
}

.prose code {
  color: #38bdf8;
}